<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    <!-- Appender 설정 -->
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %5p %l - %m%n"/>
        </Console>
        <JDBC name="dbInfo" tableName="log">
            <ConnectionFactory class="com.ondoset.common.ConnectionFactory" method="getConnection" />
            <Column name="date" isEventTimestamp="true"/>
            <Column name="level" pattern="%p"/>
            <Column name="location" pattern="%x"/>
            <Column name="user" pattern="%X{user}"/>
            <Column name="msg" pattern="%m" isClob="true"/>
            <LevelRangeFilter maxLevel="info"/>
        </JDBC>
        <JDBC name="dbError" tableName="log">
            <ConnectionFactory class="com.ondoset.common.ConnectionFactory" method="getConnection" />
            <Column name="date" isEventTimestamp="true"/>
            <Column name="level" pattern="%p"/>
            <Column name="location" pattern="%x"/>
            <Column name="user" pattern="%X{user}"/>
            <Column name="msg" pattern="%m" isClob="true"/>
            <LevelRangeFilter maxLevel="error"/>
        </JDBC>
    </Appenders>

    <!-- Logger 설정 -->
    <Loggers>
        <Root level="info">
            <AppenderRef ref="console"/>
            <AppenderRef ref="dbError"/>
        </Root>

        <logger name="com.ondoset" level="debug" additivity="false" >
            <AppenderRef ref="console" />
            <AppenderRef ref="dbInfo"/>
        </logger>
        <logger name="com.ondoset.OndosetApplication" level="info" additivity="false">
            <AppenderRef ref="console"/>
        </logger>
    </Loggers>

</Configuration>